<h1>Livros disponíveis</h1>
<div class="books-container"><br>
  <a href="/">Adicionar Livro</a><br /><br />
  {{#each books}}
    <div>#{{this.id}}
      <a href="/books/{{this.id}}"><span class="bold">{{this.title}}</span></a>
      -
      {{this.pageqty}}
      páginas

    </div>
  {{/each}}
</div>